# Assignment 15

1. What is a database? Differentiate between SQL and NoSQL databases.

Ans: A database is a collection of data that is organized in a specific way to enable efficient storage, retrieval, and management of data. Databases are used to store data for a wide range of applications, including e-commerce, healthcare, finance, and social media.

SQL and NoSQL are two types of database management systems, each with its own advantages and use cases. SQL databases are based on the relational database model, where data is stored in tables consisting of rows and columns, with relationships between tables defined using primary keys and foreign keys. SQL databases are known for their strong consistency, data integrity, and the ability to handle complex queries. Popular SQL databases include MySQL, PostgreSQL, and Oracle.

NoSQL databases, on the other hand, are not based on the relational model and are designed to handle unstructured or semi-structured data, such as documents, graphs, or key-value pairs. NoSQL databases are known for their high scalability, availability, and the ability to handle large amounts of data. However, they may sacrifice some degree of consistency and data integrity in favor of performance and scalability. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

In summary, SQL databases are suited for applications that require strong consistency and complex queries, while NoSQL databases are better suited for applications that require high scalability and performance with less emphasis on data consistency.

2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans: DDL stands for Data Definition Language, which is a subset of SQL used to define the structure and organization of data in a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

The following are some commonly used DDL statements:


CREATE: The CREATE statement is used to create a new database object, such as a table, index, or view. For example, the following SQL statement creates a new table named "customers":


```sql
CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(255),
   email VARCHAR(255)
);
```
DROP: The DROP statement is used to delete a database object, such as a table or index. For example, the following SQL statement deletes the "customers" table:

```sql
DROP TABLE customers;
```
ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table or column. For example, the following SQL statement adds a new column named "phone" to the "customers" table:

```sql
ALTER TABLE customers ADD phone VARCHAR(20);
```
TRUNCATE: The TRUNCATE statement is used to delete all rows from a table, while keeping the table structure intact. For example, the following SQL statement removes all rows from the "customers" table:

```sql
TRUNCATE TABLE customers;
```

3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans: DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate the data stored in a database. DML statements are used to insert, update, delete, and retrieve data from tables in a database.

The following are some commonly used DML statements:

INSERT: The INSERT statement is used to insert new rows into a table. For example, the following SQL statement inserts a new row into the "customers" table:

```sql
INSERT INTO customers (id, name, email) VALUES (1, 'John Doe', 'johndoe@example.com');
```
UPDATE: The UPDATE statement is used to modify existing rows in a table. For example, the following SQL statement updates the email address of the customer with the ID of 1 in the "customers" table:
```sql
UPDATE customers SET email = 'newemail@example.com' WHERE id = 1;
```
DELETE: The DELETE statement is used to delete rows from a table. For example, the following SQL statement deletes the customer with the ID of 1 from the "customers" table:

```sql
DELETE FROM customers WHERE id = 1;
```

4. What is DQL? Explain SELECT with an example.

Ans: DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query data from one or more tables in a database.

The following is an example of a commonly used DQL statement:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, the following SQL statement retrieves all rows and columns from the "customers" table:

```sql

SELECT * FROM customers;
```

5. Explain Primary Key and Foreign Key.

Ans: In a relational database, a primary key is a column or a set of columns that uniquely identifies each row in a table. A primary key constraint ensures that the values in the primary key column(s) are unique and not null. A primary key is used to enforce data integrity, ensure data consistency, and facilitate fast data retrieval.

For example, consider a table called "students" with the following columns:

id   | name    | email
---- | ------- | --------------
1    | John    | john@example.com
2    | Jane    | jane@example.com
3    | Michael | michael@example.com

6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fa28ae06220>
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

1. FROM - specifies the table or tables to select data from
2. JOIN - joins multiple tables together, if necessary
3. WHERE - filters the data based on specified conditions
4. GROUP BY - groups the data based on specified columns
5. HAVING - filters the grouped data based on specified conditions
6. SELECT - selects the columns to include in the output
7. DISTINCT - removes duplicates from the output, if specified
8. ORDER BY - orders the output based on specified columns
9. LIMIT - limits the number of rows returned in the output, if specified